.page-content {
  padding: 20px;
}

.route-image {
  background-size: cover;
}

.mdl-layout__header-row {
  background-size: cover;
}

.demo-card-square.mdl-card {
  width: 320px;
  height: 120;
}

.demo-card-square > .mdl-card__title {
  color: #fff;
  background-size: cover;
}
