.page-content {
  padding: 20px;
}

.route-image {
  background-size: cover;
}

.mdl-layout__header-row {
  background-size: cover;
}

.demo-card-square.mdl-card {
  width: 320px;
  height: 120;
}

.demo-card-square > .mdl-card__title {
  color: #fff;
  background-size: cover;
}

.mdl-layout__header  {
  background: url('https://www.datocms-assets.com/12570/1563848891-mvimg20190630112744.png') center / cover;
  height: 250px;
}
