.route-image {
  background-size: cover;
}

.mdl-layout__header-row {
  background-size: cover;
}

.route.mdl-card {
  width: inherit;
}

.main-title {
  color: white;
  text-decoration: none;
}

.menu .main-title {
  color: black;
}

.menu > .mdl-navigation {
  padding-top: 0px;
}

.demo-card-square > .mdl-card__title {
  color: #fff;
  background-size: cover;
}

.mdl-layout__header  {
  background: url('https://www.datocms-assets.com/12570/1563848891-mvimg20190630112744.png') center / cover;
  height: 250px;
}


.meeting {

  text-align: center;

  iframe {
    width: 600px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }

  padding-bottom: 10px;
  margin-bottom: 10px;

}

// HOME PAGE

.route-title {
  padding-left: 25px;

}

.page-content {
}

.sunday-run {
  top: -25px;
  justify-content: center;
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  padding-bottom: 50px;

  .sunday-run-title {
    width: 100%;
    padding-top: 25px;
  }

  .sunday-run-section {
    a {
      color: black;
    }

    iframe {
      width: 590px;
    }
  }

}

.mission {
  background-color: #EDECE9;
  width: 100%;
  position: relative;
  top: -25px;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;

  .mission-title {
    font-size: 24px;
    width: 100%;
    text-align: center;
  }

  .mission-statement {
    margin-left: 20px;
    margin-right: 20px;
    width: 550px;
    text-align: center;
  }

  .stats-container {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 50px;

    .stat-group .number {
      margin-bottom: 10px;
    }

    .stat-group .stat-desc {
      margin-bottom: 5px;
    }
  }

  .team-stats {
    width: 60%;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
  }
}

.community {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  padding-bottom: 40px;

  .community-title {
    font-size: 24px;
    width: 100%;
    text-align: center;
  }

  .community-statement {
    width: 550px;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
  }

  .community-image-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    padding-top: 50px;

    .community-image img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 75%;
    }
  }
}

.landing-page-footer {
  background-color: #EDECE9;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  padding: 25px;

  .social-media-container {
    width: 100%;
    display: flex;
    justify-content: center;

    .social-media {
      display: flex;
      justify-content: space-between;
      width: 20%;
      flex-flow: row wrap;
      font-size: 25px;

      .material-icons {
        font-size: 40px;
      }
    }
  }

  .footer-links {
    padding-top: 15px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
    width: 30%;
    .nav-link {
      font-size: 18px;
      color: #000000;
    }
  }

  .footer-bar {
    height:30px;
    width: 100%;
    background-color: #281C01;
  }
}
