<h3><%= location.title %></h3>

<div class="mdl-grid">

  <% location.routes.each do |route| %>

    <div class="mdl-cell mdl-cell--4-col">

      <div class="demo-card-square mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title mdl-card--expand">
          <h2 class="mdl-card__title-text">
            <%= route.distance %> miles
          </h2>
        </div>
        <div class="mdl-card__actions">
          <a class="mdl-button">
            <i class="material-icons">cloud_download</i>
          </a>
          <a class="mdl-button">
            <i class="material-icons">open_in_new</i>
          </a>
        </div>
      </div>

    </div>
  <% end %>


</div>


  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--6-col">
      <iframe height='405' width='590' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/activities/2491055675/embed/57c982be5dae9ce4a6867b4588be0707ce21022f'></iframe>
    </div>
    <div class="mdl-cell mdl-cell--6-col">

<strong>Directions</strong>: https://goo.gl/maps/hQPG6CWxVwMEEde5A

<br>
<br>
<strong>Trail Route</strong>: From the parking lot, follow the trail over the bridge and to the left. Continue straight until you reach a T-intersection about 1.5 miles in. Make a right and follow the trail up the face until you reach a wide road. Take the wide road until you see another trailhead that goes down and to the right at about 2miles. Follow the trail back to the beginning of the trail. Make a left to go back over the bridge to the trailhead parking.
<br>
<br>

<strong>Things to checkout nearby:</strong> The route is near the Swaner Preserve and you can learn more (after brunch!) in Kimball Junction.

    </div>
  </div>
