<h2 class="mdl-typography--display-2"><%= location.title %></h2>

<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--6-col">
    <%= location.strava_route %>
  </div>
  <div class="mdl-cell mdl-cell--6-col">
    <%= markdown location.description %>
    <strong>Trailhead: </strong>
    <br>
    <br>
    <%= location.trailhead_map %>
  </div>
</div>
